@media screen and (min-width: $sm) {
  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .logo {
    a {
      color: $accent;
      font-family: "Khand";
      font-size: 1.5em;
      font-weight: 900;
    }
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: $primary;
    z-index: 5;
  }

  .nav-wrapper,
  .nav-items,
  .nav-controlls {
    display: flex;
    align-items: center;
  }

  .nav {
    &-wrapper {
      margin: auto;
      padding: 10px 20px;
      position: relative;
      width: 100%;
      max-width: $lg;
    }

    &-items {
      align-items: stretch;
      flex-flow: column;
      position: absolute;
      top: 0;
      left: -100%;
      width: 70%;
      height: 100vh;
      font-family: "Roboto";
      font-weight: 500;
      background: lighten($light, 100%);
      box-shadow: 0 0 5px lighten($dark, 20%);
      transition: left 0.3s ease-out;

      &.show {
        left: 0;
      }

      a {
        padding: 15px;
        color: $dark;
        display: block;
        text-align: left;
        transition: background 0.2s ease;

        &:hover {
          background: $light;
        }
      }
    }

    &-ctrls {
      padding: 10px 15px;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px lighten($dark, 70%);

      .logo a {
        margin: 0;
        padding: 0;
        color: $accent2;

        &:hover {
          background: none;
        }
      }

      .nav-close {
        appearance: none;
        background: none;
        border: none;
      }
    }

    &-toggle {
      margin-right: 10px;
      appearance: none;
      border: none;
      background: none;
      font-size: 1.2em;
      color: lighten($light, 100%);

      &:focus {
        outline: none;
      }
    }

    &-controlls {
      margin-left: auto;
      font-weight: 300;

      a {
        margin: 0 10px;
        color: lighten($light, 100%);
        display: block;
      }
    }
  }

  .subnav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid 1px $light;
  }
}

@media screen and (min-width: $md) {
  .nav {
    &-items {
      margin-left: 10px;
      align-items: flex-start;
      flex-flow: row nowrap;
      position: relative;
      left: 0%;
      width: unset;
      height: unset;
      background: none;
      box-shadow: unset;

      a {
        padding: 0 20px;
        color: $light;
        text-align: center;

        &:hover {
          background: none;
          color: $accent;
        }
      }
    }

    &-ctrls,
    &-toggle {
      display: none;
    }
  }
}
