*.egg-info
.cache
*.pyc
htmlcov
.coverage
*/wheelhouse
*.sql
env/
.env
.vscode/
.idea
*.iml
dist/
*.egg-info/
build/
.pytest_cache/
.envrc
coverage.xml
report.html
assets/
__pycache__
Notes
.DS_Store
node_modules
/dist


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


