*.egg-info
.cache
*.pyc
.coverage
*/wheelhouse
*.sql
env/
.vscode/
.idea
*.iml
dist/
*.egg-info/
build/
.envrc
.env
.DS_Store
run
/assets/
__pycache__
.ropeproject/*
Notes
coverage.xml
report.html
.idea
.pytest_cache/
htmlcov/
.coverage
assets/
dev-notes.md
venv/
node_modules/
package.json
*.lock