/* HEX */
$primary: #26547cff;
$secondary: #e63946ff;
$accent: #f9dc5cff;
$accent2: #457b9dff;
$dark: #333333;
$light: #e6e6e1ff;

/* RGB */
// $primary: rgba(38, 84, 124, 1);
// $secondary: rgba(230, 57, 70, 1);
// $accent: rgba(249, 220, 92, 1);
// $accent2: rgba(69, 123, 157, 1);
// $dark: rgba(7, 6, 0, 1);
// $light: rgba(230, 230, 225, 1);

/* Grid & spacing */
$grids: 12;
$space: 5;

/* Breakpoints */
$sm: 320px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

/* Curves */
$sm-radius: 5px;
$md-radius: 10px;
$lg-radius: 20px;
