@media screen and (min-width: $sm) {
  .container-flex {
    padding: 10px;
  }
}

@media screen and (min-width: $md) {
  .container-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  .flex-item {
    margin: 5px;
  }
}
